html {
    box-sizing: border-box;
    font-size: 62.5%;
}

body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: whitesmoke;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

.calculator {
    background-color: white;
    width: 400px;
    border-radius: 5px;
}

.calculator__display {
    background-color: black;
    border-radius: 5px 5px 0 0;
    display: flex;
    justify-content: flex-end;
}


.calculator__display > h1 {
    font-size: 4.5rem;
    color: white;
    font-weight: lighter;
    letter-spacing: 1px;
    padding: 2rem 1rem 2rem 0;

    overflow-x: auto;
}

.calculator__buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 1rem;

    padding: 1rem;
}

.calculator__buttons .button:last-child {
    grid-column: 4 / 5;
    grid-row: 2 / 6;

    font-size: 3rem;
    background-color: chartreuse;
}

.button {
    min-height: 5rem;
    border: none;
    border-radius: 5px;

    font-size: 2.5rem;
}

.operator {
    background-color: darkgray;
    color: white;
}

.button:active {
    transform: translateY(2px);
}

.clear {
    background-color: crimson;
    color: white;
}